<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ruby on Rails スケジュール管理アプリ</h1>
    </header>
    <%= yield %> <!--他のアクション名.html.erbファイルを読み込んでくれる-->
    <footer>
      <p>現在の時間: <%= Time.current.to_s(:datetime_jp) %></p>
      <p>スケジュール合計:<%= User.count %>個</p>
    </footer>
  </body>
</html>

